rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite el acceso a la colección de sesiones de WhatsApp
    // solo si el usuario está autenticado.
    match /whatsapp_sessions/{sessionId} {
      allow read, write: if request.auth != null;
    }

    // Asegúrate de definir reglas para tus otras colecciones también
    // Por ejemplo, para los chats:
    match /chats/{chatId}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
